@font-face {
  font-family: "UniversCondensed";
  src: local("UniversCondensed"), url(./UniversCondensed.woff) format("woff");
}

* {
  /* font-family: Arial; */
  /* letter-spacing: 0.05px; */
  font-family: "UniversCondensed";
  overflow-y: visible;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  color: #fff;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  z-index: -2;
  padding: 0.5rem;
}

.panel {
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
}

#channel-and-time {
  display: flex;
  flex-direction: row;
}

#channel {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  font-weight: 900;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  color: #000;
}

#header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#location {
  font-family: "UniversCondensed";
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 0.9;
}

#time {
  font-family: "UniversCondensed";
  text-transform: uppercase;
  line-height: 0.9;
  margin-left: -1px;
  color: #ddd;
}

#live-now {
  font-family: "UniversCondensed";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  line-height: 0.9;
}

#name {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;

  font-family: "UniversCondensed";
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  line-height: 0.9;
}
