@font-face {
  font-family: "UniversCondensed";
  src: local("UniversCondensed"), url(./UniversCondensed.woff) format("woff");
}

* {
  /* font-family: Arial; */
  /* letter-spacing: 0.05px; */
  overflow-y: visible;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.panel {
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
}

span,
div {
  font-family: "UniversCondensed";
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 0.9;
}

@keyframes flashing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.flashing-light {
  background-color: #e81717;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  animation-name: flashing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin-left: 0.25rem;
}

.channel-and-time-wrapper {
  display: inline-block;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.channel-and-time {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
}

.channel {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  font-weight: 900;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  color: #000;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.time {
  text-transform: uppercase;
  line-height: 0.9;
  margin-left: -1px;
  color: #ddd;
}

.live-now {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  line-height: 0.9;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.location-and-name {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  display: flex;
  flex-direction: column;
}

.location {
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 0.9;
  margin-bottom: 0.5rem;
  align-self: flex-start;
}

.name {
  font-size: 22px;
  align-self: flex-start;
}

#stream-1 {
  width: 100%;
  height: 100%;
  position: fixed;
  transition: left 0.3s ease-in-out;
  background-position: center;
  background-size: cover;
}

#stream-2 {
  width: 100%;
  height: 100%;
  position: fixed;
  transition: left 0.3s ease-in-out;
  background-position: center;
  background-size: cover;
}

.active-1 {
  left: 0;
}

.inactive-1 {
  left: -100%;
}

.active-2 {
  left: 0;
}

.inactive-2 {
  left: 100%;
}
