@font-face {
  font-family: "UniversCondensed";
  src: local("UniversCondensed"), url(./UniversCondensed.woff) format("woff");
}

* {
  /* font-family: Arial;
  letter-spacing: 0.05px; */

  font-family: "UniversCondensed";

  overflow-y: visible;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  color: #fff;
  background-color: #000;
  background-position: center;
  background-size: cover;
  z-index: -2;
}

#vignette {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(transparent, #000a), #fff0;
}

header {
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: flex;
  height: 2.5rem;
}

#channel {
  height: 2.5rem;
  width: 2.5rem;
  color: #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "UniversCondensed";
  font-weight: 700;
  font-size: 1.5rem;

  margin-right: 0.5rem;
}

#header-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#location {
  font-family: "UniversCondensed";
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-family: "UniversCondensed";
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
}

#time {
  font-family: "UniversCondensed";
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0px;
}

#name {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  background-color: #000;
  right: 1rem;
  /* padding: 0.25rem; */
}
